Python understands the datatype of objects on its own. When we explicitly change the datatype of the object is known as typecasting


int()

float()

bool()

complex()

string()

In [1]:
a = '10'
type(a)

str

In [2]:
type(int(a))

int

In [3]:
a = 'goodbye'
int(a)

ValueError: invalid literal for int() with base 10: 'goodbye'

In [4]:
s = "My name is Nazira"
int(s)

ValueError: invalid literal for int() with base 10: 'My name is Nazira'

In [5]:
a = "10.25"
int(float(a))

10